# no env, that's where the tokens are :3
bot/.env

# no node_modules, that's where the dependencies are
bot/node_modules

# no package lock
bot/package-lock.json

# no venv or pycache
model/.venv
model/__pycache__